let mapleader = " "
set ignorecase
set smartcase
set surround
set multiple-cursors
set easymotion
set commentary
set scrolloff=3         " 3 lines above/below cursor when scrolling
" set iskeyword=@,48-57,_,192-255,?,-,*,!,+,/,=,<,>,.,:,$

set clipboard+=unnamed
set ideajoin


nmap zj o<Esc>k
nmap zk O<Esc>j

map <C-e> :action RecentFiles<CR>
map <C-s> :action EditorSelectWord<CR>

map <leader>g :action GotoDeclaration<cr>
map <leader>j :action Back<cr>
map <leader>k :action Forward<cr>

map <leader>f :action GotoFile<cr>
map <leader>c :action GotoClass<cr>
map <leader>s :action GotoSymbol<cr>
map <leader>m :action FileStructurePopup<cr>
map <leader>u :action FindUsages<cr>
map <leader>e :action ShowErrorDescription<cr>
map <leader>r :action ChooseRunConfiguration<CR>

map <leader>[ :action EditorCodeBlockStart<CR>
map <leader>] :action EditorCodeBlockEnd<CR>

map <leader>e :action ReformatCode<CR> 

imap <C-v> <Esc>:action $Paste<CR>

map <leader>y "0y
map <leader>p "0p
